html{
	font-size: 16px;
	font-family: 'Roboto', sans-serif;
	background-color: #00539F;
	/*background-color: #2E3436;*/
}
.status{
	color: #C4A000;
}
.introduction{
	color: #ffffdd;
}
.pfp{
	max-height: 35%;
	max-width: 35%;
}